<footer class="footer">
    <span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
    <span class="footer__copyright">本站由&nbsp<a href="http://weibo.com/ycyppq123" target="_blank">@橙橙橙子哥_</a>&nbsp 搭建 &nbsp&nbsp感谢 <a href="http://weibo.com/onevcat" target="_blank">@onevcat</a></span>
    <span class="footer__copyright">Theme by <a href="https://github.com/onevcat/vno" target="_blank">Vno</a> Powered by <a href="https://ghost.org" target="_blank">Ghost </a>  <i class="fa fa-cog fa-spin"></i> {{ghost_foot}} </span>
    <span class="footer__copyright">&copy; {{date format="YYYY"}} Cheney 技术博客 All rights reserved.感谢 <a href="https://www.linode.com/?r=1a6074aafc30257021f21b837096dd1c5f9373d9">linode </a> 为本站提供稳定的 VPS 服务</span>
</footer>
